.services-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.services-heading{
    flex: 0 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    h2{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        margin: 0px;
        margin-top: 30px;
    }
    img{
        transform: translateY(-10px);
        width: 45%;
    }
}

.services-container{
    flex: 1 1 auto; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;

    .film-production-div{
        position: relative;
        .paper-clip-1{
            position: absolute;
            width: 150px;
            top:0px;
        }
        .film-production-image{
            width: 320px;
        }
    }
    .branding-div{
        position: relative;
        transform: translateY(30px);
        .paper-clip-2{
            position: absolute;
            top:-10px;
            left:30%;
            width: 150px;
        }
        .branding-image{
            width: 300px;
        }
    }
    .art-curation-div{
        position: relative;
        .paper-clip-3{
            position: absolute;
            width: 150px;
            right: 10px;
        }
        .art-curation-image{
            width: 320px;
        }
    }
}

.services-section-bottom{
    flex: 0 0 auto;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    img{
        width: 100%;
    }
}

@media screen and (max-width: 490px) {

    .services-heading{
        h2{
            font-size: 20px;
            padding: 0px 10px;
            text-align: center;
        }
        img{
            transform: translateY(-10px);
            width: 80%;
        }
    }
    .services-container{
        position: relative;
        flex-direction: column;
        height: 10px;
        width: 100%;

        .film-production-div{
            position: absolute;
            top: 0px;
            left: 0px;
            .paper-clip-1{
                position: absolute;
                width: 100px;
                top:0px;
                left: 20px;
            }
            .film-production-image{
                width: 220px;
            }
        }

        .branding-div{
            position: absolute;
            top: 60px;
            right: 0px;
            .paper-clip-2{
                position: absolute;
                top:-10px;
                left:30%;
                width: 100px;
            }
            .branding-image{
                width: 200px;
            }
        }

        .art-curation-div{
            position: absolute;
            top: 250px;
            .paper-clip-3{
                position: absolute;
                width: 100px;
                right: 10px;
            }
            .art-curation-image{
                width: 220px;
            }
        }
    }
    .services-section-bottom{
        position: relative;
    }
}