.about-team-section {
    position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-clip-container{
    position: absolute;
    top: -80px;
    width: 450px;
    left: 150px;
    z-index: 100;
    img{
        width: 100%;
    }
}

.india-gate-container{
    position: absolute;
    bottom: 100px;
    left: 40px;
    width: 300px;
    img{
        width: 100%;
    }
}

.people-container{
    position: relative;
    width: 40vw;
    margin-left: 50vw;
    margin-right: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        position: relative;
        width: 500px;
    }
}

.view-portfolio-container{
    text-align: center;
    width: fit-content;

    p{
        font-size: 30px;
        font-weight: 300;
    }
}

.marker{
    position: absolute;
    p{
        font-family: 'Island Moments';
        font-size: 32px;
        font-weight: 300;
        color: var(--text-blue);
        margin: 10px auto;
    }
}

.marker-1{
    left: -220px;
    img{
        transform: translateX(50%);
        width: 150px;
    }
}
.marker-2{
    top: 0px;
    left: 130px;
    img{
        transform: translateX(50%);
        width: 100px;
    }
}
.marker-3{
    top: 70px;
    right: -100px;
    img{
        transform: translateX(0%);
        width: 60px;
    }
}

@media screen and (max-width: 490px) {

  .about-team-section {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 80px;
    position: relative;
  }

  .paper-clip-container {
    top: -20px;
    right: 0px;
    left: auto;
    /* transform: translateX(-50%); */
    width: 220px;
  }

  .india-gate-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(-40%);
    width: 220px;
    margin: 20px auto;
  }

  .people-container {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    height: auto;
    align-items: center;
  }

  .people-container img {
    width: 280px;
  }

  .view-portfolio-container{
    padding: 0px 30px;
    margin-top: 20px;
  }

  .view-portfolio-container p {
    font-size: 20px;
    text-align: center;

    .btn{
      font-size: 20px;
    }
  }

  .marker-1{
    bottom: 100px;
    left: 0px;
    p{
        font-size: 18px;
        font-weight: 400;
    }
    img{
        width: 40px;
    }
  }

  .marker-2{
    top: -60px;
    left: 120px;
    p{
        font-size: 18px;
        font-weight: 400;
    }
    img{
        width: 40px;
    }
  }

  .marker-3{
    top: -70px;
    right: 10px;
    p{
        font-size: 18px;
        font-weight: 400;
    }
    img{
        width: 40px;
    }
  }

}
