.about-us-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.about-us-container{
    display: flex;
    align-items: center;
}

.about-us-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex: 1;
    text-align: center;

    h2{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        color: var(--text-dark-gray);
    }

    p{
        font-family: 'Instrument Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        max-width: 420px;
        color: var(--text-dark-gray);
    }

    .illustrations-container{
        display: flex;
        align-items: center;

        img{
            width: 250px;
        }
        .projects-image{
            transform: translateX(35%);
            z-index: 100;
        }
        .happy-clients-image{
            z-index: 150;
        }
        .expert-team-image{
            transform: translateX(-35%);
            z-index: 200;
        }
    }



}

.about-us-right{
    width: 50%;
    flex: 1;
    position: relative;
    height: 90vh;

    h1{
        font-family: 'Island Moments';
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        text-align: center;
        padding-right: 100px;
        color: var(--text-blue);
        align-self: flex-start;
        margin-top: 20px;
    }
    .clientage-image{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 700px;
    }
    .mountains-image{
        position: absolute;
        width: 400px;
        bottom: 20px;
        right: 20%;
    }

}

@media screen and (max-width: 490px) {

  .about-us-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about-us-right {
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
  }

  .about-us-right h1 {
    font-size: 30px;
    padding: 5px;
    margin: 5px 0 15px 0;
  }

  .about-us-right .clientage-image {
    display: none;
  }

  .about-us-right .mountains-image {
    position: relative;
    width: 60%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .about-us-left {
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
  }

  .about-us-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-us-left p {
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto 20px auto;
    line-height: 1.6;
  }

    .illustrations-container{
        display: flex;
        align-items: center;

        img{
            width: 10px;
        }
        .projects-image{
            transform: translateX(35%);
            z-index: 100;
        }
        .happy-clients-image{
            z-index: 150;
        }
        .expert-team-image{
            transform: translateX(-35%);
            z-index: 200;
        }
    }

  .about-us-section {
    height: auto;
    padding-bottom: 40px;
  }
}
