.portfolio-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.portfolio-header{
    text-align: center;
    h2{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        margin: 5px auto;
        margin-top: 20px;
    }
    p{
        color: var(--text-dark-gray);
        margin: 0px auto;
        font-size: 18px;
    }
}

.player-container{
    position: relative;
    width: 100%;
    margin: 0px auto;
    max-width: 600px; 
    margin-top: 30px;  

    .video-player{
        width: 100%;
    }
    .controls-holder-1{
        position: absolute;
        left: 15px;
        top: 55px;
        width: 10%;
    }
    .controls-holder-2{
        position: absolute;
        right: 15px;
        top: 55px;
        width: 10%;
    }
    .left-control{
        position: absolute;
        left: 5%;
        width: 5%;
        top: 35%;
    }
    .right-control{
        position: absolute;
        right: 5%;
        width: 5%;
        top: 35%;
    }
}

.camera-container{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100%;
    max-width: 170px;

    img{
        width: 100%;
    }
}
.circular-design-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 300px;

    img{
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    .player-container{
        max-width: 350px;

        .controls-holder-1{
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
        .controls-holder-2{
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }

        .left-control, .right-control{
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .camera-container{
        top: auto;
        bottom: 150px;
        left: 40px;
        max-width: 100px;
    }
    .circular-design-container{
        max-width: 250px;
    }
}