@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Island+Moments&display=swap');
:root{
  --primary-orange: #f15b2a;
  --text-blue: #0F3255;
  --text-gray: #666;
  --text-dark-gray: #252729;
  --primary-pink: #FDD0C1;
}

body{
  background: url(./assets/bg.svg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* Buttons */

.btn{
  background-color: var(--primary-orange);
  color: white;
  padding: 6px 12px;
  border:none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
}

